@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="jumbotron text-center">

        <h1> Loja </h1>
        <p> Bem Vindo </p>
        
</div>

<a asp-action="Conceito" >Conceito</a>

<a asp-controller="Despesas" asp-action="Index" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus-sign"></span> Despesa
</a>




